<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe Game</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script type="text/javascript">
            var stompClient = null;
            var privateStompClient = null;

            socket = new SockJS('/ws');
            privateStompClient = Stomp.over(socket);
            privateStompClient.connect({}, function(frame) {
            var gameId = document.getElementById('gameId').value;
                    privateStompClient.subscribe('/game/' + gameId, function(result) {
                        updateBoard();
                        showAlert(result.body + ' made his move !');
                    });
                     privateStompClient.subscribe('/join/' + gameId, function(result) {
                        updateBoard();
                        showAlert(result.body + ' joined the game !');
                    });
                });

            function updateBoard() {
                var gameId = document.getElementById('gameId').value;
                $.post("/tic-tac-toe/games/" + gameId + "/player-move").done(function (fragment) {
                    $("#board").replaceWith(fragment);
                });
            };

            stompClient = Stomp.over(socket);
            function move(x, y) {
                var gameId = document.getElementById('gameId').value;
                stompClient.send("/app/move", {},
                  JSON.stringify({'gameId':gameId, 'x': x, 'y': y}));
            }

            $(document).ready(function() {
                $("#join-player-alert").hide();
            });

            function showAlert(text){
                document.getElementById('playerJoinName').innerHTML = text;
                $("#join-player-alert").fadeTo(2000, 500).slideUp(500, function() {
                  $("#join-player-alert").slideUp(500);
                });
            };

            function home (){
                window.location.href = '/tic-tac-toe'
            };

    </script>

    <style>
        .center {
          margin-left: auto;
          margin-right: auto;
        }

        td {
            border: 1px solid black;
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body onload="updateBoard()">

<div class="row" style="margin-top:1%">
    <div class="col-md-2" style="text-align:center">
        <button type="button" class="btn btn-primary" onclick="home();">Home</button>
    </div>
    <div class="col-md-8" style="text-align:center">

        <div th:if="${error!=null}" style="text-align:center; margin-top:1%"
             class="alert alert-danger alert-dismissible">
            <h4 class="error" th:text="${error}">Error message</h4>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <input type="hidden" id="gameId" th:value="${game.id}">

        <div id="board" style="margin-top:1%"></div>

    </div>
    <div class="col-md-2">
        <div class="alert alert-success" id="join-player-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong id="playerJoinName"> </strong>
        </div>
    </div>
</div>
</body>
</html>